.form__field {
    width: 275px;
    height: 32px;
    box-sizing: border-box;
    border: #FF4261 1px solid;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.form__field::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #CACACA;
}

.form__field::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #CACACA;
}
  
.form__field::-moz-placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #CACACA;
}
  
.form__field::-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #CACACA;
}