.field-from-to__field {
    width: 50%;
    height: 24px;
    box-sizing: border-box;
    border: #FF4261 1px solid;
    border-radius: 6px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding-left: 10px;
}

.field-from-to__field::placeholder {
    font-size: 12px;
    line-height: 15px;
    color: #CACACA;
}

.field-from-to__field::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 15px;
    color: #CACACA;
}

.field-from-to__field::-moz-placeholder {
    font-size: 12px;
    line-height: 15px;
    color: #CACACA;
}

.field-from-to__field::-ms-input-placeholder {
    font-size: 12px;
    line-height: 15px;
    color: #CACACA;
}