.header {
    width: 100%;
    box-sizing: border-box;
    padding: 0 60px 0;
    height: 65px;
    border-bottom: #FF4261 1px solid;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}